@model GetAdminsQuery

@{
    ViewData["Title"] = "Список пользователей";

    var users = (IPager<AdminDto>)ViewData["Admins"];

    int i = users.StartItemIndex;
}

<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="main-content">
        <div class="breadcrumb">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="card-title mb-3">Поиск</div>
                        <form asp-action="Index" method="get" autocomplete="off">
                            <div class="row"> 
                                <div class="col-md-3 form-group">
                                    <label>Почта</label>
                                    <input class="form-control" asp-for="@Model.Email">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>Номер телефона</label>
                                    <input class="form-control" asp-for="@Model.PhoneNumber">
                                </div>
                                <div class="col-md-3 form-group">
                                    <label>ФИО</label>
                                    <input class="form-control" asp-for="@Model.Name">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <button class="btn btn-primary btn-block">
                                        <i class="i-Magnifi-Glass1 mr-1"></i>Найти
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <a href="@Url.Action("Index")" class="btn btn-secondary btn-block" type="button"> Сбросить</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 mx-auto mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h4 class="card-title mb-3">@ViewData["Title"] (Кол-во администраторов: @users.TotalItemCount)</h4>
                            <a href="@Url.ActionLink("Create", "Account")" class="btn btn-lg btn-primary" type="button">
                                <i class="i-Add-User mr-2"></i>Добавить
                            </a>
                            @if (users.Any())
                            {
                                <table class="footable table toggle-arrow-tiny mt-4 table-hover" data-page-size="@users.TotalPageCount" data-striping="false">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Статус</th>
                                            <th>ФИО сотрудника</th> 
                                            <th>Номер телефона</th>
                                            <th>Логин</th>
                                            <th class="text-white"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var user in users)
                                        {
                                            <tr>
                                                <td>@(i++)</td>
                                                <td>
                                                    <user-status user="@user"></user-status>
                                                </td>
                                                <td>@user.FullName</td>
                                                <td>@user.Email</td>
                                                <td>@user.PhoneNumber</td> 
                                                <td class="text-right">
                                                  @*  @if (AuthorizationService.AuthorizeAsync(User, AdminPermissions.UserAction).Result.Succeeded)
                                                    {
                                                        @if (user.Status == UserStatus.InProcess)
                                                        {
                                                            <a asp-action="UserConfirm" asp-route-id="@user.Id"
                                               class="btn btn-white btn-circle" title="Подтвердить пользователя">
                                                                <i class="i-Security-Check text-25 text-secondary mr-1"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            if (user.LockoutEnabled)
                                                            {
                                                                <a asp-action="UserUnLock" asp-route-id="@user.Id"
                                               class="btn btn-white btn-circle" title="Разблокировать пользователя">
                                                                    <i class="i-Unlock-2 text-25 text-secondary mr-1"></i>
                                                                </a>
                                                            }
                                                            else
                                                            {
                                                                <a asp-action="UserRayons" asp-route-id="@user.Id"
                                               class="btn btn-white btn-circle" title="Менеджер районов">
                                                                    <i class="i-University1 text-25 text-secondary mr-1"></i>
                                                                </a>

                                                                <a asp-action="UserPermissions" asp-route-id="@user.Id"
                                               class="btn btn-white btn-circle" title="Менеджер прав доступа">
                                                                    <i class="i-Management text-25 text-secondary mr-1"></i>
                                                                </a>

                                                                <a asp-action="UserLock" asp-route-id="@user.Id"
                                               class="btn btn-white btn-circle" title="Заблокировать пользователя">
                                                                    <i class="i-Lock-2 text-25 text-secondary mr-1"></i>
                                                                </a>
                                                                if (user.IsResetPassword)
                                                                {
                                                                    <a asp-action="ResetPassword" asp-route-id="@user.Id"
                                               class="btn btn-white btn-circle" title="Восстановление пароля">
                                                                        <i class="i-Password-shopping text-25 text-secondary mr-1"></i>
                                                                    </a>
                                                                }
                                                            }
                                                        }
                                                    }*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @Html.Pager(users, page => Url.Action("Index", new
                            {
                            page, 
                            Email = Model.Email,
                            PhoneNumber = Model.PhoneNumber,
                            Name = Model.Name 
                            }),
                            new PagerOptions
                            {
                            PagesToDisplay = 10,
                            ClassToPagerContainer = "d-flex justify-content-center"
                            })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/jquery-footable/css/footable.core.min.css" />
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
    </environment>
}

    @section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery-footable/dist/footable.all.min.js"></script>
        <script src="~/js/Common/footableSettings.js" asp-append-version="true"></script>
        <script src="~/lib/select2/js/select2.full.min.js" asp-append-version="true"></script>
        <script src="~/js/Common/searchSelectSettings.js" asp-append-version="true"></script>
        <script src="~/js/Common/pinFormat.js" asp-append-version="true"></script>
    </environment>
}