@model GetLocationsQuery

@{
    ViewData["Title"] = "Список локаций";

    var locations = (IPager<LocationDto>)ViewData["Locations"];

    int i = locations.StartItemIndex;
}

<div class="main-content-wrap sidenav-open d-flex flex-column">
    <div class="main-content">
        <div class="breadcrumb">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
        <div class="separator-breadcrumb border-top"></div>
        <div class="row mb-4">
            <div class="col-md-12">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="card-title mb-3">Поиск</div>
                        <form asp-action="Index" method="get" autocomplete="off">
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <label>Наименование</label>
                                    <input class="form-control" asp-for="@Model.Name">
                                </div> 
                                <div class="col-md-3 form-group">
                                    <label>Адрес</label>
                                    <input class="form-control" asp-for="@Model.Address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <button class="btn btn-primary btn-block">
                                        <i class="i-Magnifi-Glass1 mr-1"></i>Найти
                                    </button>
                                </div>
                                <div class="col-md-1">
                                    <a href="@Url.Action("Index")" class="btn btn-secondary btn-block" type="button"> Сбросить</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 mx-auto mb-4">
                <div class="card text-left">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h4 class="card-title mb-3">@ViewData["Title"] (Кол-во локаций: @locations.TotalItemCount)</h4>
                            <a href="@Url.ActionLink("Create", "Location")" class="btn btn-lg btn-primary" type="button">
                                <i class="i-Add-User mr-2"></i>Добавить
                            </a>
                            @if (locations.Any())
                            {
                                <table class="footable table toggle-arrow-tiny mt-4 table-hover" data-page-size="@locations.TotalPageCount" data-striping="false">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Статус</th>
                                            <th>Наименование</th>
                                            <th>Описание</th>
                                            <th>Адрес</th>
                                            <th>Дата создания</th>
                                            <th class="text-white"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var location in locations)
                                        {
                                            <tr>
                                                <td>@(i++)</td>
                                                <td>@location.Status.GetDisplayValue()</td>
                                                <td>@location.Name</td>
                                                <td>@location.Description</td>
                                                <td>@location.Address</td>
                                                <td>@location.Created</td>
                                                <td class="text-right">
                                                  
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @Html.Pager(locations, page => Url.Action("Index", new
                            {
                            page,
                            Name = Model.Name,
                            Address = Model.Address, 
                            }),
                            new PagerOptions
                            {
                            PagesToDisplay = 20,
                            ClassToPagerContainer = "d-flex justify-content-center"
                            })
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/jquery-footable/css/footable.core.min.css" />
        <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
        <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
    </environment>
}

    @section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery-footable/dist/footable.all.min.js"></script>
        <script src="~/js/Common/footableSettings.js" asp-append-version="true"></script>
        <script src="~/lib/select2/js/select2.full.min.js" asp-append-version="true"></script>
        <script src="~/js/Common/searchSelectSettings.js" asp-append-version="true"></script>
        <script src="~/js/Common/pinFormat.js" asp-append-version="true"></script>
    </environment>
}